<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Cards</title>
</head>
<body>
    <main>
        <div class="group-card">
            <div class="cards">
                  <img src="./img/goku.jpg" alt="">
                  <h2>Goku</h2>
                  <h3>Developer Front End</h3>
                  <p>Criar soluções inovadoras e explorar novas tecnologias com criatividade e curiosidade.</p>

             <div class="grupo-icons">
                 <img src="./img/icon-github.svg" alt="">
                 <img src="./img/icon-insta.svg" alt="">
            </div>
            </div>
        </div>
    </main>
</body>
</html>